{{define "jobs/new.html"}}
<h2>Create New Job</h2>

{{if .Error}}
<div style="color: red; margin-bottom: 10px;">
    Error: {{.Error}}
</div>
{{end}}

<form method="POST" action="/jobs">
    <div style="margin-bottom: 10px;">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required style="width: 300px; padding: 5px;">
    </div>
     <label for="organizationID">Organization:</label>
    <select id="organizationID" name="organizationID" required>
        <option value="">Select an Organization</option>
        {{ range .Organizations }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}
    </select>
    <div>
        <button type="submit">Create</button>
        <a href="/jobs">Cancel</a>
    </div>
</form>
{{end}}